body {
  margin: 20px;
  background-color: rgb(
    247,
    255,
    216
  ); /* For browsers that do not support gradients */
  background-image: radial-gradient(
    rgb(247, 255, 216) 50%,
    rgb(224, 246, 142),
    rgb(224, 246, 142)
  );
  background-attachment: fixed;
}



p {
  border-bottom: 1px dashed #ddd;
}
#greeting {
  text-align: center;
  font-size: 28px;
  padding: 10px;
}
#pictureUrl {
  margin: 0 auto;
  width: 32%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 256px;
  -webkit-border-radius: 256px;
  border-radius: 256px;
  padding: 4px;
}

#accessToken,
#utouId {
  display: block;
  overflow: auto;
}

#map {
  height: 80%;
}
#datetimeblock {
  background-color: white;
  height: 80px;
  width: 200px;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
  border: 2px #d1d1d1;
  padding: 5px;
}
#time {
  padding-top: 6px;
  font-size: 32px;
  text-align: center;
}
#date {
  font-size: 20px;
  text-align: center;
  color: grey;
}
html,
body {
  height: 75%;
  margin: 0;
  padding: 0;
}
#rcorners1 {
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.customMarker {
  position: absolute;
  cursor: pointer;
  background: #444444;
  width: 100px;
  height: 100px;
  /* -width/2 */
  margin-left: -50px;
  /* -height + arrow */
  margin-top: -110px;
  border-radius: 50%;
  padding: 0px;
}
.customMarker:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 30px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #444444 transparent;
  display: block;
  width: 0;
}
.customMarker img {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 50%;
}
